# Ignore node_modules
node_modules/

# Ignore logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore dotenv environment variables
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE/editor settings
.idea/
.vscode/
